@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: "Righteous", cursive;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(10, 244, 29, 1) 35%,
    rgb(35, 201, 235) 100%
  );
  background-attachment: fixed;
  text-align: center;
}

button {
  font-family: inherit;
  padding: 1rem;
  margin: 1rem;
  background-color: lightcoral;
  box-shadow: 0 0 5px goldenrod;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}
