.container {
  text-align: center;
  padding-top: 50px;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
.wip {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 1;
  background-color: rgb(235, 217, 241);
  border: 1px solid red;
  padding: 25px;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: rgb(183, 206, 209);
  border: 1px solid red;
  padding: 25px;
}

.draggable {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 5px auto;
  background-color: yellowgreen;
  border: 1px solid white;
}
